#banner {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

#focus {
    float: left;
    width: 720px;
    height: 455px;
}

#newsflash {
    float: right;
    width: 250px;
    height: 455px;
    border: 1px solid #e4e4e4;
}

#news {
    height: 165px;
}

#news-hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}

#news-hd h5 {
    float: left;
}

#news-hd a {
    float: right;
}

#news-hd a::after {
    font-family: 'icomoon';
    content: '\e920';
}

#lifeservices {
    height: 209px;
}

#bargain {
    margin-top: 5px;
}


