#banner {
    width: 980px;
    height: 455px;
    margin-left: 220px;
}

#banner #focus {
    float: left;
    width: 720px;
    height: 455px;
    border: 1px solid red;
}

#banner #newsflash {
    float: right;
    width: 250px;
    height: 455px;
    border: 1px solid blue;
}